<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')  %> 

  <body>
    <%- include('partials/header') %>
    <title>Detalles</title>

    <main class="mainProductDetail">
        <div class="pageName">
            <h2 class="titleDetail">PRODUCTO</h2>
            <h4 class="subtitleDetail">(Home > <%= product.categoryProduct %> > <%= product.name %> - <%= product.color %>)</h4>
        </div>
        <div class="imageDetailANDcharacteristicsDetail">
            <div class="imageDetail">
                    <div class="imageBig">
                        <img class="imagenDetail" src="/images/products/<%= product.image[0] %>" alt="<%= product.name %> ">
                    </div>
                    <div class="carrousel">
                        <img class="imagenDetailCarrusel" src="/images/products/<%= product.image[1] %>" alt="<%= product.name %> ">
                        <img class="imagenDetailCarrusel" src="/images/products/<%= product.image[2] %>" alt="<%= product.name %> ">
                        <img class="imagenDetailCarrusel" src="/images/products/<%= product.image[3] %>" alt="<%= product.name %> ">
                        <img class="imagenDetailCarrusel" src="/images/products/<%= product.image[4] %>" alt="<%= product.name %> ">
                    </div>
        
                    <div class="colors">
                        <label class="labelColor">Color:</label>
                        <p><%= product.color %></p>
                    </div>
            </div>
            <div class="characteristicsDetail"><!-- caracteristicas del producto -->
                <div>
                    <h2 class="productNameDetail"><%= product.name %></h2>
                    <h3 class="priceDetail">$<%= product.price %></h3>
                </div>
                <div class="acordeon">
                    <div class="bloqueAcordeon">
                        <h2 class="itemDetail"><span class="down1"><i class="neonIcon fa-solid fa-angles-down"></i></span></i>Descripcion</h2>
                        <p class="descriptionDetail"><%= product.description%></p>
                    </div>
                    <div class="bloqueAcordeon">
                        <h2 class="itemDetail"><span class="down2"><i class="neonIcon fa-solid fa-angles-down"></i></span></i>Caracteristicas</h2>
                        <div class="descriptionDetail">
                            <ul class="ulCaracteristicas">
                                <li><%= product.characteristics %></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bloqueAcordeon">
                        <h2 class="itemDetail"><span class="down3"><i class="neonIcon fa-solid fa-angles-down"></i></span>Dimensionamiento</h2>
                        <div class="descriptionDetail">
                            <p class="descriptionDetail"><%= product.sizing %></p>
                            
                        </div>
                    </div>
                    
                </div>




                <div class="tallesForm">
                        <label class="labelTalles" for="talleSelect">Talles disponibles</label>
                        <div class="contenedorTalles">
                            <button class="inputContenedorTalles" name="talleSelect" type="submit" value="<%= product.size%>"><%= product.size%>
                        </div>
                        
                        <div class="quantity">
                            <button data-decrease-quantity="">−</button>
                            <input data-quantity-input="" aria-label="Quantity" type="number" min="1" size="4" pattern="[0-9]*" name="quantity" value="1">
                            <button  data-increase-quantity="">+</button>
                        </div>
                        
                        
                        <% if (userLogueado.permissionId != 1) { %>
                            <a href="/products/productCart"><button class="addToCart" type="submit" value="addToShop">Agregar al carrito <i class="fa-solid fa-angles-right"></i> $<%= product.price%></button></a>
                        <% } %>
                    <form class='formularioCreateProducts' method="POST" action="/products/<%= product.id %>?_method=DELETE">
                    <% if (userLogueado.permissionId == 1) { %>
                        <button class="form-button" type="submit" id="delete">Eliminar Producto</button>
                        </form>
                        <button class="form-button"><a href="/products/<%= product.id %>/edit">Editar Producto</a></button>
                        
                    <% } %>
                </div>
            </div>
        </div>

        

    </main>
    <script>
    let deleteButton = document.querySelector("#delete");
    deleteButton.addEventListener("click", (e)=> {
        let confirmar = confirm("¿Estás segurx que querés borrar este producto?");
        if(confirmar){
        }else{
            e.preventDefault();
        }
    })       
    </script>
    <%- include('partials/footer')  %> 
    
</body>
</html>